body {
  margin: 0;
  margin-top: 10px;
  font-family: 'Cantarell', sans-serif;

}

.name {
  margin-top: 6vh;
}


.imgContainer {
  background-image: url("../assets/blob3.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
      height: 90vh;
  width: 80vw;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

.text {
  color: white;
  margin-left: 10vw;
  margin-top: 10vh;
}

.customFont {
  font-family: 'Cantarell', sans-serif;
}


.contactHtml {
  font-size: 118%;
}

.container {
  padding-left: 10vw;
  height: 90vh;
  width: 80vw;
}

foreignobject{
  font-family: 'Cantarell', sans-serif;

}


h1 {
  margin-bottom: 10px;
}

.line{
  background-color:#000;
  height: 40px;
}
